@media only screen and (min-width:480px) {
    .container-logs, .container-feedback, .container-edit-feedback, .container-create-business, .container-register, .container-edit-account, .container-create-logbook, .container-create-category {
        font-size: 14px
    }
}

@media only screen and (min-width:720px) {
    .container-logs, .container-feedback, .container-edit-feedback, .container-create-business, .container-register, .container-edit-account, .container-create-logbook, .container-create-category {
        font-size: 16px
    }
}

.container-logs, .container-feedback {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*grid-template-rows: 50px 50px;*/
    color: white
}

#log-grid, #feedback-grid, #edit-feedback-grid, #create-business-grid, #register-grid, #all-accounts-grid, #edit-account-grid, #create-logbook-grid, #create-category-grid {
    background: url('../images/background-logs.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.container-edit-feedback, .container-create-business, .container-register, .container-edit-account, .container-create-logbook, .container-create-category {
    color: white;
}

    .container-edit-feedback input, .container-create-business input, .container-register input, .container-edit-account input, .container-create-logbook input, .container-create-category input {
        background-color: #2b2b2d;
        color: white;
    }

        .container-edit-feedback input:read-only, .container-edit-account input:read-only {
            background-color: black;
        }
