#dropdown-logbook-status {
    background-color: #2b2b2d;
    color: white
}

    #dropdown-logbook-status + div {
        background-color: #2b2b2d;
        color: white
    }

    #dropdown-logbook-status ul li {
        background-color: #2b2b2d;
        color: white
    }
