@model LogBooksCategoriesDTO

<div class="status-div row">
    <h4>Logbook:&nbsp&nbsp&nbsp</h4>
    <select name="LogBookId" class="status-dropdown nice-select">
        <option></option>
        @foreach (var logbook in Model.LogBooks)
        {
            <option value=@logbook.Id>@logbook.Name</option>
        }
    </select>
</div>

<div class="status-div row">
    <h4>Category:&nbsp&nbsp&nbsp</h4>
    <select name="CategoryId" class="status-dropdown nice-select">
        <option value=0></option>
        @foreach (var category in Model.Categories)
        {
            <option value=@category.Id>@category.Name</option>
        }
    </select>
</div>