@model ICollection<LogBookDTO>

<div id="logbook-area">
    <hr />
    <h2>Choose logbook!</h2>
    <div class="col-sm-10">
        @foreach (var logBook in @Model)
        {
            <div class="form-check">
                <input name="LogBookIds" class="form-check-input" type="checkbox" value=@logBook.Id>
                <label class="form-check-label">
                    @logBook.Name
                </label>
                @*<span asp-validation-for="@logBook.Id" class="text-danger"></span>*@
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}