@model ICollection<BusinessShortInfoDTO>

@{
    ViewData["Title"] = "Home Page";
}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Away from monotonous life</h6>
                <h2>Relax Your Mind</h2>
                <h3>Find Your Alpha Hotel</h3>
            </div>
            <!-- ===== START OF SEARCH FORM WRAPPER ===== -->
            <div class="search-form-wrapper search-form-rev">
                <div class="container">

                    <!-- ===== START OF SEARCH FORM ===== -->
                    <form id="search-form-1">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-sm-10 col-12">
                                <div class="form-group">
                                    <input name="name" type="text" id="search-keyword" value="" class="form-control" placeholder="Find Your Hotel">
                                    <button asp-controller="" asp-action="" type="submit" class="btn btn-main btn-effect"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- ===== END OF SEARCH FORM ===== -->

                </div>
            </div>
            <!-- ===== END OF SEARCH FORM WRAPPER ===== -->
        </div>
    </div>
</section>
<!--================Banner Area =================-->
<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Our Suggestions</h2>
        </div>
        <div class="row mb_30">
            @foreach (var business in @Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="@business.CoverPicture" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a asp-controller="Business" asp-action="Details" asp-route-id=@business.Id class="button_hover tag_btn">Details</a>
                            </div>
                            <a asp-controller="Business" asp-action="Details" asp-route-id=@business.Id><h4 class="sec_h4">@business.Name</h4></a>
                            <p>@business.ShortDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Recent Area  =================-->