@model ICollection<LogDTO>

@{
    ViewData["Title"] = "AllLogbookLogs";
}

<link href="~/css/log-grid.css" rel="stylesheet" />
<section class="section_gap">
    <div class="container" id="logs-container">
        <div class="search-form-wrapper search-form-rev">
            <div class="container">
                <!-- ===== START OF SEARCH FORM ===== -->
                <form id="search-form-1">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-sm-10 col-12">
                            <div class="form-group">
                                <input name="keyword" type="text" id="search-keyword-log" value="" class="form-control" placeholder="Find Log">
                                <button asp-area="Manager" asp-controller="LogBook" asp-action="FindLogAjax" type="submit" class="btn btn-main btn-effect"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ===== END OF SEARCH FORM ===== -->
            </div>
        </div>
        <div id="all-logs">
            <partial name="_LogsPartial" model="Model" />
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/log.js"></script>
    <script src="~/js/search.js"></script>
}
